@import "../frontend/src/Styles/DefaultValues.module.scss";
@import "../../Styles/DefaultComponents.module.scss";

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

#my-profile-box {
    margin-top: 4%;
    background-color: $primary-color-semi;
    border-radius: 3em;
    height: 100%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 1%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sections {
    margin: 0 auto;
    top: 10%;
    width: 80%;
}

.buttonContainer {
    width: 100%;
    margin: 0 auto;
}

.rounded-pill {
    // margin-right: 10%;
    margin: 0 5%;
    display:inline-block;
    padding: 1%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}