@import "../frontend/src/DefaultValues.module.scss";

#container {
    position: relative;
    width: 100%;
    height: 30%;
}
#my-profile-box {
    background-color: $primary-color;
    opacity: 0.4;
    border-radius: 3em;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#sections {
    position: absolute;
    top:50%;
}

.buttonContainer {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-pill {
    margin-right: 10%;
    display:inline-block;
    padding: 1%;
    width: 100%;
}