@import "./DefaultValues.module.scss";

li {
    list-style-type: none;
    padding: 1%;
}

.card {
    display: flex;
    position: relative;
    background-color: $primary-color-semi;
}

p {
    font-family: 'Work Sans';
    font-weight: 400;
}