$primary-color: #F7B41F;
$primary-color-semi: #f7b31f73;
$secondary-color: #3981FF;
$background-color: #FFFBFF;
$white: #FFFBFF;
$secondary-text:rgb(168, 168, 168)F;
$apiErrorMessage: "Could not process this request, please reload the page";


:export {
    primaryColor: $primary-color;
    primaryColorSemi: $primary-color-semi;
    secondaryColor: $secondary-color;
    backgroundColor: $background-color;
    white: $white;
    apiErrorMessage: $apiErrorMessage;
}

