$primary-color: #F7B41F;
$secondary-color: #3981FF;
$background-color: #FFFBFF;
$white: #FFFBFF;
$apiErrorMessage: "Could not process this request, please reload the page";


:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    backgroundColor: $background-color;
    white: $white;
    apiErrorMessage: $apiErrorMessage;
}

