@import "./DefaultValues.module.scss";
// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;440&display=swap');

li {
    list-style-type: none;
    padding: 1%;
}

.card {
    display: flex;
    position: relative;
    background-color: $white;
    border-radius: 0.35em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

p {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: calc(10px + 0.5vw)
}

.modal-field{
    margin: 3%;
}

.card-icons{
    position: relative;
    top: 1%;
    right: 0.5%;
    margin-left: auto;
}

.card-start{
    position: relative;
    display: flex;
    align-items: center;
    top: 1%;
    left: 0.5%;
    margin: 1% 1%;
    margin-right: auto;
}

.card-text-secondary{
    color: $secondary-text;
    overflow-wrap: break-word;
}