@import "../../../../frontend/src/Styles/DefaultValues.module.scss";
@import "../../Styles/DefaultComponents.module.scss";

.infinite-loader-container{
    width: 60%;
    height: 90vh;
    margin: auto;
}

@media (max-width: 1000px) {
    .infinite-loader-container{
        width: 75%;
        height: 90vh;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .infinite-loader-container{
        width: 90%;
        height: 90vh;
        margin: auto;
    }
}