h1 {
  &.header {
      text-align: center;
      font-weight: 900;
      margin-bottom: 2rem;
  }
}

.genre-text {
  margin: 0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  font-stretch: extra-condensed;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.container {
  margin-bottom: 3rem;
}

.showcase-paper {
  height: 9rem;
  width: 9rem;
  border-radius: 20px;
}

.img-scale {
  & {
    overflow: hidden;
  }

  & img {
    transition: transform 1s;
    will-change: transform;
  }

  & img:hover {
    transform: scale(1.2);
  }
}

.blur {
  & {
    filter: blur(1px);
    transition: filter 1s;
  }

  &:hover {
    filter: blur(0px);
  }
}

.marquee-placement {
  position: absolute;
  top: 10px;
}

#testbutton {
  background-color: 'red';
}