h1 {
  &.header {
      text-align: center;
      font-weight: 900;
      margin-bottom: 2rem;
  }
}

.container {
  margin-bottom: 3rem;
}

.showcase-paper {
  height: 9rem;
  width: 9rem;
  border-radius: 20px;
}

.img-scale {
  & {
    overflow: hidden;
  }

  & img {
    transition: transform 1s;
    will-change: transform;
  }

  & img:hover {
    transform: scale(1.2);
  }
}

.blur {
  & {
    filter: blur(1px);
    transition: filter 1s;
  }

  &:hover {
    filter: blur(0px);
  }
}

#testbutton {
  background-color: 'red';
}