@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import "../../Styles/DefaultValues.module.scss";


main.registration {
	background: $background-color;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.forgot-form-label{
		font-size: 0.857143em;
		font-style: inherit;
		line-height: 1.33333;
		color: #3c3d41;
		font-weight: 600;
		display: inline-block;
		margin-top: 0px;
		margin-bottom: 4px;
}

.email {
    display: flex;
    flex-direction: column;
    margin: 0px auto 24px;
    width: 400px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 15px rgba(0,0,0,0.22);
    box-sizing: border-box;
    color: rgb(94, 108, 132);
}

.forgot {
    display: flex;
    flex-direction: column;
    margin: 0px auto 24px;
    width: 400px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 15px rgba(0,0,0,0.22);
    box-sizing: border-box;
    color: rgb(94, 108, 132);
}

.confirm-email {
    font-size: 1;
    font-style: inherit;
    line-height: 1.25;
    color: var(--ds-text-highEmphasis,#172B4D);
    font-weight: 600;
    letter-spacing: -0.006em;
    margin-top: 24px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image {
    background: url("./email-delivered.svg") center bottom no-repeat;
	background-size: 88px;
    margin-bottom: 24px;
}

.title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
}

.image{
    height: 88px;
    margin-bottom: 24px;
}

h1.registration {
	font-weight: bold;
	margin: 0;
}
h5 {
	color: #2a2b2e;
    font-weight: bold;
}

p.registration {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

p.pink-text {
	font-size: 15px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0 10px;
	color: rgb(248, 33, 122);
}

a.registration {
	color: #333;
	font-size: 16px;
	text-decoration: none;
	
	margin:20px 0;

}

.link-container{
	margin-bottom: 20px;
}

.sign-in-button{
	margin-bottom: 20px;
}
button.registration {
	border-radius: 20px;
	border: 1px solid $primary-color;
	background-color: $primary-color;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button.resend{
	border-radius: 20px;
	border: 1px solid $secondary-color-semi;
	background-color: $secondary-color-semi;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost.registration {
	background-color: transparent;
	border-color: #FFFFFF;
}

form.registration {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	width: 100%;
}

input.registration {
	background-color: rgba(var(--b3f,250,250,250),1);
	border-style: solid;
	border-color: #e4e4e4;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container.registration {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlayer-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlayer-container{
	transform: translateX(-100%);
}

.overlayer {
	background: $secondary-color-semi;
	background: linear-gradient(142deg,
	 rgba(57,129,255,1) 0%,
	  rgba(124,197,255,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlayer {
  	transform: translateX(50%);
}

.overlayer-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlayer-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlayer-left {
	transform: translateX(0);
}

.overlayer-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlayer-right {
	transform: translateX(20%);
}

.ptsCanvasStyle {
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
  }